
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-theme((
  color: (
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
  ),
));

$dark-theme: mat.define-theme((
  color: (
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
    theme-type: dark,
  ),
));

html {
  height: 100%;
}

.light-theme {
  @include mat.all-component-themes($light-theme);
  color-scheme: light;
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
  color-scheme: dark;
  background-color: #121212 !important;
  color: #ffffff !important;
}

.soft-theme {
  @include mat.all-component-themes($light-theme);
  color-scheme: light;
}

body {
  margin: 0;
  height: 100%;
  font: var(--mat-sys-body-medium);
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
